@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display:ital@0;1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Russo+One&display=swap');

:root {
    --color-primario: #E60E3D;
    --color-secundario: #F7B80B;
    --color-terseario: #97C026;
    --color-texto: #f5f5f5;
    --color-2:#E62A65;
    --color-fondo:#000000;
    --color-fondo--2:#151515;
    --color--fondo--3:#222222;
    --color--sub--1:#ffffff;
    --color--4:#e63946;
    --color--rgb-1: rgb(230, 14, 61);
    --rgb--color-2:rgb(230, 42, 101);
    

}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font: size 16px;
  line-height: 24px;
  color: var(--color-texto);
  font-family: poppins;
  background-color: var(--color-fondo);
}
.fondo{
  background: linear-gradient(
                rgba(0,0,0,0.5),
                rgba(0, 0, 0,0.5)
              ), url('../img/fondo11.png');
    background-size: cover;    
    background-position: center;  
    background-repeat: no-repeat; 
    height: 100vh;
}
.ancho {
  max-width: 1200px;
  margin: auto;
}

.centrar {
  text-align: center;
}
.margen {
  border: 1px #e1306c solid;
}

.cont{
  max-width: 900px;
  margin: auto;
  padding: 100px 0px;
}
.div{
    border-radius: 20px;
  border: 1px var(--color--4) solid;
}
.div-izq{
       background: linear-gradient(
                rgba(0, 0, 0,0.5),
                rgba(230, 42, 101,0.5)
              ), url('../img/44.jpg');
    background-size: cover;    
    background-position: center;  
    background-repeat: no-repeat;  
    height: 70vh;
    width: 49.94%;
    display: inline-block;
    vertical-align: top;
    margin-right: -5px;
    border-radius: 20px 0px 0px 20px ;
}
img{
  width: 100%;
}
.div-der{
width: 50%;
display: inline-block;
vertical-align: top;
 padding: 10px 10px;
 background-color: var(--color-fondo--2);
   border-radius: 0px 20px 20px 0px;
   height: 70vh;
}
.div-der h2{
  font-family: Russo One;
  font-size: 30px;
}
.logo{
  width: 20%;
  margin: auto;
  text-align: center;
}


.rojo{
  color: var(--color-primario);
}
.negro{
  color: var(--color-secundario);
}
.div-der h1{
font-size: 25px;
font-weight: 600;
}

label{
  width: 80%;
  text-align: left;
  font-weight: 300;
  color: var(--color--sub--1);
  padding: 20px;
  text-align: start;
  font-size: 16px;
}
input{
  width: 80%;
  padding: 8px;
  border-radius: 10px;
}

#btn_login{
  border: none;
  padding: 10px 15px;
  font-family: poppins;
  font-weight: bolder;
  width: 80%;
  background-color: var(--color-primario);
  color: var(--color--sub--1);
  transition: 0.5s;
}

#btn_login:hover{
  background-color: var(--color-2);
    border-radius: 20px;
}
.error-msg {
    background-color: #e63946;
    color: #ffffff;
    padding: 10px 10px;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    width: 80%;
    margin: auto;

  }
.header {
        background-color: var(--color-2);
        color: var(--color--sub--1);
        text-align: center;
        padding: 18px 0;
        font-size: 28px;
        font-weight: bold;
    }

    .contenedor {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .menu {
        display: inline-block;
        width: 260px;
        background:var(--color--fondo--3);
        color: var(--color--sub--1);
        vertical-align: top;
        padding: 20px;
        border-radius: 10px;
    }

    .menu a{
        color: var(--color--fondo--3);
        text-decoration: none;
        padding: 12px 12px;
        font-size: 20px;
        transition: 0.3s;
        display: inline-block;
        text-align: left;
        color: var(--color--sub--1);
        margin-bottom: 20px;
        width: 90%;
        text-align: center;
        font-weight: bolder;
        border-bottom:var(--color--sub--1) 1px solid ;
    }
    .menu a:hover{
background-color: var(--color--sub--1);
color: var(--color-fondo);
border-radius: 10px;
    }

    .btn-cerrar {
        margin-top: 40px;
        display: inline-block;
        background: var(--color-primario);
        padding: 12px 30px;
        border-radius: 6px;
        font-weight: bold;
        text-decoration: none;
        color: var(--color--sub--1);
        font-size: 15px;
        transition: 0.3s;
    }

    .btn-cerrar:hover {
        background:var(--color--4);
    }


    .contenido {
        display: inline-block;
        vertical-align: top;
        width: 70%;
        background: var(--color--fondo--3);
        margin-left: 20px;
        padding: 25px;
        border-radius: 15px;
        text-align: center;
    }

    .titulo-contenido{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;
        color: var(--color--sub--1);
    }

    .contenido{
       background: linear-gradient(
                rgba(0, 0, 0,0.7),
                rgba(101, 0, 76, 0.7)
              ), url('../img/fondo4.png');
    background-size: cover;    
    background-position: center;  
    background-repeat: no-repeat;  
    height: 60vh;
    }
.contenido H1{
padding-top: 100PX;
font-weight: bolder;
font-size: 100PX;
line-height: 100PX;
}
.active{
  background-color: var(--color-terseario);
}

.contenido-comentarios{
  background: #222222;
  display: inline-block;
  width: 70%;
          margin-left: 20px;
        padding: 25px;
        border-radius: 15px;
        text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    background:  var(--color--sub--1);
    border-radius: 10px;
    overflow: hidden;
  }

  th {
    background-color: var(--color-primario);
    color:  var(--color--sub--1);
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid var(--color--sub--1);
}

td {
    padding: 14px;
    border-bottom: 1px solid var(--color--sub--1);
    color: var(--color--fondo--3);
    transition: 0.5s;
    border: 1px solid var(--color--fondo--3);
    
}
.btn-eliminar{
  padding: 10px;
  background-color: var(--color--4);
  color: var(--color-texto);
  border-radius: 10px;
}
.btn-uso{
  padding: 10px 20px;
  background-color: var(--color-secundario);
  color: var(--color-texto);
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 20px;
  font-weight: bolder;
  color: #222222;
}

.btn-gu{
  padding: 10px 20px;
  background-color: var(--color-terseario);
  color: var(--color-texto);
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 20px;
  border: none;
}

.agre_usu form{
  text-align: center;
  padding:0px 90px;
}

.agre_usu input{
  width: 60%;
}
.agre_usu label{
  width: 200px;
  font-weight: bolder;
}