@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display:ital@0;1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Russo+One&display=swap');

:root {
    --color-primario: #E60E3D;
    --color-secundario: #F7B80B;
    --color-terseario: #97C026;
    --color-texto: #f5f5f5;
    --color-2:#E62A65;
    --color-fondo:#000000;
    --color-fondo--2:#151515;
    --color--fondo--3:#222222;
    --color--sub--1:#ffffff;
    --color--4:#e63946;
    --color--rgb-1: rgb(230, 14, 61);
    --rgb--color-2:rgb(230, 42, 101);
    

}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font: size 16px;
  line-height: 24px;
  color: var(--color-texto);
  font-family: poppins;
  background-color: var(--color-fondo);
}

.ancho {
  max-width: 1200px;
  margin: auto;
}

.centrar {
  text-align: center;
}
.margen {
  border: 1px #e1306c solid;
}

.home{
     background: linear-gradient(
                rgba(0,0,0,0.1),
                rgba(0,0,0,0.1)
              ), url('../img/1.jpg');
    background-size: cover;    
    background-position: center;  
    background-repeat: no-repeat;  
    height: 100vh;
    

}

img{
  width: 100%;
}

.navegador{
  display: inline-block;
  width: 75%;
  text-align:right ;

} hr {
  height: 6px;
  background-color: var(--color-primario);
  border: none;
  width: 20%;
  margin-top: 20px;
}
.logo{
 width: 20%;
 display: inline-block;
}
.img{
  width: 60px;
  margin: 5px 0px 0px 40px;
}
.nombre{
  color: var(--color-texto);
  font-family: Russo One;
  font-size: 35px;
}
.rojo{
  color: var(--color-primario);
}

.img{
  display: inline-block;
  vertical-align: middle;
}

.nombre{
  display: inline-block;
  vertical-align: middle;
}

.navegador a{
 color: var(--color-texto);
 padding: 10px 25px;
 font-weight: 600;
 display: inline-block;
 transition: 0.5s;
 border-radius: 0px;
 margin-right: 10px;
}

.navegador a:hover{
  background-color: var(--color-2);
  border-radius: 20px;
  
}
.navegador a.active {
background-color: var(--color-2);
border-radius: 20px;
}
.frase{
  margin-top: 110px;
}
.frase h2 {
  font-size: 50px;
  line-height: 60px;
}
.frase p{
  font-size: 20px;
}
.btn_rojo{
  background-color: var(--color-primario);
  color: var(--color-texto);
  font-weight: 600;
  padding: 10px 40px;
  margin-top: 40px;
  display:inline-block ;
  font-size: 20px;
  transition: 0.5s;
}
.btn_rojo:hover{
  background-color: var(--color-2);
  border-radius: 30px;
}

.beneficios{
  background-color: var(--color-fondo--2);
  height: 70vh;
  text-align: center;
  padding: 30px;
}
.subtitulos{
 font-size:30px;
}
.parrafos{
font-size: 16px;
font-weight: 500;
}

.subsubtitulos{
font-size: 22px;
font-weight: bold;
color: var(--color--sub--1);
border-radius: 30px;
}
.cajas_ben{
  width: 260px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 60px 15px ;
  line-height: 25px;
  
}
.caja_benf1{
width: 120px;
margin: auto;
}
.caja_benf1 img{
  padding: 15px;
  border-radius: 100%;
  background-color: var(--color-primario);
  transition: 0.5s;
}
.caja_benf1 img:hover{
  background-color: var(--color-2);
  color: var(--color-fondo);
  transform: scale(1.1);
}

.programas_desta {
  height: 100vh;
}

.fondo-home2{
     background: linear-gradient(
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
              ), url('../img/2.png');
    background-size: cover;    
    background-position: center;  
    background-repeat: no-repeat;  
    height: 100vh;
}

.caja_prog{
  width: 260px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 60px 15px ;
  line-height: 25px;
  transition: 0.5s;
}

.cont_img_d img{
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 20px;


}

.caja_prog:hover{
transform: scale(1.1);
box-shadow: 0 0 20px 0px var(--color-2);
border-radius: 20px;
}

.caja_testimonio{
 background-color: var(--color-fondo--2);
 padding: 20px;
 color: var(--color-texto);
 display: inline-block;
 margin: 60px 30px;
 vertical-align: top;
 border-radius: 20px;
}

.caja_testimonio img{
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
  object-fit: cover;
  
}

.anuncio{
  background: var(--color-fondo--2);
    padding: 60px 20px;
    text-align: center;
    border-radius: 12px;
    margin: 40px auto;
    max-width: 900px;
}
.footer{
  background-color: #151515;
  text-align: center;
  color: #858585;
  font-weight: 400;
  font-size: 11px;
  padding: 20px;
}
.footer p{
  display: inline-block;
  width: 49%;
  text-align: center;
}
.blanco{
  color: #bbbbbb;
  width: 26%;
}
.fondo-gris{
  background-color: var(--color--fondo--3);
}
.contactanos {
  height: 100vh;
  
}
.cont-contacto{
  height: 90vh;
  width: 100%;
  text-align: center;
}
.contac-izq{
  width: 49%;
display: inline-block;
vertical-align: top;
}

.contac-dere{
width: 50%;
margin-left: -5px;
display: inline-block;
vertical-align: top;
background-color:var(--color--fondo--3);
/* background-color: var(--color-2); */ 
height: 555px;
padding: 50px 50px;
}

.contac-dere hr{
  background-color: var(--color-2);
  margin: auto;
  line-height: 16px;
  margin-top: 10px;
}
.contac-dere input , textarea{
  width: 100%;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 20px;
}
input,textarea::placeholder {
    font-family: poppins;
    font-weight: bold;
}
.contac-dere textarea{
  resize: none;
  height: 130px;
}
form{
  text-align: left;
}
.contac-dere label{
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 10px;
}
.rojo-bajo{
  color: var(--color-2);
}

.btn-blanco{
  background-color: var(--color-2);
  font-size: 17px;
  padding: 10px 40px;
  border: 0px;
  font-weight: bolder;
  font-family: poppins;
  color: var(--color-texto);
  width: 100%;
  transition: 0.5s;

}
.btn-blanco:hover{
  border-radius:20px ;
  background-color: var(--color-primario);
}

.logo-red img{
width: 250px; 
}

.img-redes-iz{
  width: 50%;
  display: inline-block;

}

.img-redes-de {
  width: 49%;
  display: inline-block;
  
}
.img-redes-iz img{
  width: 50px;

}

.img-redes-de img {
  width:50px;
  
}
.redes-ab img {
  width:50px;
  
}
.redes-ab hr{
  margin: auto;
}
.icon_redes img{
  margin-left: 20px;
  width: 70px;
  padding: 10px;
  transition: 0.5s;
   border-radius: 100px;
}
.icon_redes img:hover{
 background-color: var(--color-2);
}
.sobre_nosotros{
 background: linear-gradient(
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
              ), url('../img/fondo.png');
    background-size: cover;    
    background-position: center;  
    background-repeat: no-repeat;  
    height: 100vh;
}
.der{
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

.izq{
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}

.nosotros-de{
background-image: url(../img/6.png);
    background-size: cover;    
    background-position: center;  
    background-repeat: no-repeat;  
    height: 50vh;
    border-radius: 30px;
    border: #E60E3D 4px solid;
}

.sobre_nosotros h1{
  font-size:35px;
  line-height: 50px;
  font-weight: 200;
}
.nosotros-izq{
  padding: 0px 40px;
}
.nosotros-izq p{
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  line-height: 30px;

}

.nosotros-izq h3{
text-align: left;
line-height: 20px;
font-size: 30px;

}

.misi-visi p{
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  
}

.misi-visi h4{
  font-size: 20px;
  line-height: 30px;
  font-weight: 900;
  
}

.mision{
  width: 44%;
  margin: 30px;
  padding: 30px;
  background-color: var(--color--fondo--3);
   border-radius: 20px;
      transition: 0.5s;
}
.vision{
  width: 43%;
   margin: 30px;
   vertical-align: top;
   padding: 30px;
   background-color: var(--color--fondo--3);
    border-radius: 20px;
    transition: 0.5s;
   

}
.mision:hover{
  transform: scale(1.1);

}

.vision:hover{
  transform: scale(1.1);
}
.mision p{
font-size: 17px;

}

.vision p{
 font-size: 17px;
}


.galeria img{
 width: 30%;
 margin: 10px;
 border-radius: 10px;
 border: var(--color--4) 2px solid;
 transition: 0.5s;
 height: 300px;
 object-fit: cover;

}
.galeria img:hover{
  transform: scale(1.1);
box-shadow: 0 0 20px 0px var(--color-2);
border-radius: 20px;
}
.cierre{
  font-size: 20px;
  line-height: 30px;
  padding: 30px;
}

.clases p{
  font-size: 18px;
  line-height: 30px;
  padding: 20px;
  border-radius: 20px;
}

.catalogo p{
 font-size: 15px;
}

.fondo-clases{
  background: linear-gradient(
                rgba(0,0,0,0.8),
                rgba(0,0,0,0.8)
              ), url('../img/fondo3.png');
    background-size: cover;    
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed;
}
.cont-catalogo{
  background-color: var(--color--fondo--3);
  border-radius: 20px;
  margin-bottom: 30px;
  transition: 0.5s;
}
.cont-catalogo img{
    height: 50vh;
    object-fit: cover;
}
.cont-catalogo:hover{
  background-color: var(--color-fondo--2);
    transform: scale(1.05);

 
}
.catalogo {
  padding: 30px;
}
.cont-catalogo h3{
  font-size: 30px;
  color: var(--color-terseario);
}
.catalogo hr{
   background-color: var(--color--sub--1);
}
.cont-catalogo h4{
  font-size: 20px;
  color: var(--color-2);
}
.horarios hr{
  width: 20%;
}

.horarios{
  width: 90%;
    margin: 40px auto;
    text-align: center;
}
.tabla-horario {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    background:  var(--color--sub--1);
    border-radius: 10px;
    overflow: hidden;
}

.tabla-horario th {
    background-color: var(--color-primario);
    color:  var(--color--sub--1);
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.tabla-horario td {
    padding: 14px;
    border-bottom: 1px solid var(--color--sub--1);
    color: var(--color--fondo--3);
    transition: 0.5s;

}
.tabla-horario td:hover{
    padding: 14px;
    background-color: var(--color-2);
    color: var(--color--fondo--3);
    transform: scale(1.2);
    color: var(--color-texto);
    font-weight: bolder;
    border-radius: 20px;
}

.tabla-horario tr:hover {
    background-color: var(--color-texto);
}

.tabla-horario td:first-child {
    font-weight: bold;
    background-color: var(--color-texto);
    color: var(--color-fondo--2);
}
.faq{
 padding: 50px;
}
.faq details {
  background: var(--color-fondo);
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  cursor: pointer;
}

.faq summary {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.faq p {
  margin-top: 10px;
}

.faq details[open] {
  background: var(--color--4); /* rojo crossfit */
}